@import compass/css3

$content-width: 290px
$color-red: #ea664b
$blue: #bbfce1
  
body
  margin: 0
  background-color: $color-red
  font-family: "Lato", "Arial", serif

@mixin left($dist)
  float: left
  margin-left: $dist
  padding-left: $dist/2
    
#wrapper
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  width: 480px
  height: 450px
  margin: auto

h1
  margin: auto
  display: block
  width: $content-width
  height: $content-width
  background-image: url('/images/rocket_logo_white_2xx.png')
  background-repeat: no-repeat
  span
    display: inline-block
    text-indent: -999em
    overflow: hidden
  

form
  width: 474px
  margin: auto
    top: 25px
  display: block

  input
    display: block
    +box-sizing(border-box)
    height: 45px
    width: 100%
    border: 0
    border-radius: 3px
    padding: 0
      left: 20px
    font-family: "Lato", Arial, serif 
    font-size: 25px
    font-weight: 300
    line-height: 35px
    text-transform: uppercase
    color: $color-red
    &:focus
      outline: none   
      text-transform: none

  button
    margin-top: 15px
    height: 45px
    width: 100%
    display: block
    color: $color-red
    font-size: 25px
    line-height: 35px
    text-transform: uppercase
    border-radius: 3px
    background-color: white
    border: 0
    &:hover
      cursor: pointer
      background-color: $color-red
      color: white
      border: 1px solid white
  
table
  @include left(10)
  th
    color: $blue



.board
  width: 500px
  height: 500px

.user-board
  @extend .board  
  border-color: $blue

.opponent-board
  @extend .board
  border-color: red

#last_posts
  background: red

@media  screen and (max-width: 600px) 
  h1
    width: 290px
    max-width: 90%
    font-size: 20px

  form
    height: 70%   
    max-width: 70%
    button
      font-size: 20px
      line-height: 20px
    input
      font-size: 20px
      line-height: 20px
      &.email
        padding-left: 13px
        font-size: 20px