@media screen and (max-width: 600px) {
  /* line 8, ../../views/stylesheets/application.sass */
  h1 {
    width: 290px;
    max-width: 90%;
  }

  /* line 11, ../../views/stylesheets/application.sass */
  form {
    height: 70%;
    max-width: 70%;
    font-size: 20px;
    line-height: 20px;
  }

  /* line 16, ../../views/stylesheets/application.sass */
  input {
    font-size: 20px;
    line-height: 20px;
  }
  /* line 19, ../../views/stylesheets/application.sass */
  input.email {
    padding-left: 13px;
    font-size: 20px;
  }

  /* line 22, ../../views/stylesheets/application.sass */
  button {
    font-size: 20px;
    line-height: 20px;
  }
}
/* line 26, ../../views/stylesheets/application.sass */
body {
  margin: 0;
  background-color: #ea664b;
  font-family: "Lato", "Arial", serif;
}

/* line 36, ../../views/stylesheets/application.sass */
#wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 480px;
  height: 450px;
  margin: auto;
}

/* line 46, ../../views/stylesheets/application.sass */
h1 {
  margin: auto;
  display: block;
  width: 290px;
  height: 290px;
  background-image: url("/images/rocket_logo_white_2xx.png");
  background-repeat: no-repeat;
}
/* line 53, ../../views/stylesheets/application.sass */
h1 span {
  display: inline-block;
  text-indent: -999em;
  overflow: hidden;
}

/* line 60, ../../views/stylesheets/application.sass */
form {
  width: 474px;
  margin: auto;
  margin-top: 25px;
  display: block;
}
/* line 66, ../../views/stylesheets/application.sass */
form input {
  height: 45px;
  width: 96%;
  display: block;
  font-family: "Lato", Arial, serif;
  font-size: 25px;
  font-weight: 300;
  line-height: 35px;
  text-transform: uppercase;
  border: 0;
  padding: 0;
  color: #ea664b;
  border-radius: 3px;
}
/* line 79, ../../views/stylesheets/application.sass */
form input:focus {
  outline: none;
}
/* line 81, ../../views/stylesheets/application.sass */
form input.email {
  padding-left: 20px;
  color: #ea664b;
  text-transform: none;
}
/* line 86, ../../views/stylesheets/application.sass */
form button {
  margin-top: 15px;
  height: 45px;
  width: 100%;
  display: block;
  color: #ea664b;
  font-size: 25px;
  line-height: 35px;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: white;
  border: 0;
}
/* line 98, ../../views/stylesheets/application.sass */
form button:hover {
  cursor: pointer;
  background-color: #ea664b;
  color: white;
  border: 1px solid white;
}

/* line 104, ../../views/stylesheets/application.sass */
table {
  float: left;
  margin-left: 10;
  padding-left: 5;
}
/* line 106, ../../views/stylesheets/application.sass */
table th {
  color: #bbfce1;
}

/* line 111, ../../views/stylesheets/application.sass */
.board, .user-board, .opponent-board {
  width: 500px;
  height: 500px;
}

/* line 115, ../../views/stylesheets/application.sass */
.user-board {
  border-color: #bbfce1;
}

/* line 119, ../../views/stylesheets/application.sass */
.opponent-board {
  border-color: red;
}

/* line 123, ../../views/stylesheets/application.sass */
#last_posts {
  background: red;
}
